<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>about us</title>
</head>
<body>

<h3 class="center-txt">About Us</h3>

<br>


<p class="center-txt">
	This is a page to organise watch trades
</p>

<p class="center-txt">

<strong>
	all transactions will be completed face-to-face
</strong>	
</p>

<div class="d-flex justify-content-center">
	<a href="https://www.linkedin.com/in/laurenzgerold" target="_blank" class="cool-btn">
	ABOUT THE FOUNDER
	</a>	
</div>



</body>
</html>