<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>about us</title>
</head>
<body>
	<br>
<p class="center-txt" style="color:green;">
	<strong>
		CONFIRMED	
	</strong>
	
</p>
<div class="d-flex justify-content-center">
	<i class="fa-solid fa-check" style="font-size:100px;"></i>
</div>

<br>
<p class="center-txt">
	<strong>
		WE WILL KEEP YOU UPDATED VIA EMAIL
	</strong>
</p>

<br>
<div class="d-flex justify-content-center" style="font-size:12px;">
	<%= link_to "BACK TO HOMEPAGE", watch_index_path, class: "cool-btn"%>	
</div>


</body>
</html>