<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>about us</title>
</head>
<body>
<div class="d-flex justify-content-center">
	<i class="fa-solid fa-envelope m-2"></i> 
	<p class="m-1"> laurenzgerold@gmail.com </p>
</div>

<div class="d-flex justify-content-center">
	<i class="fa-solid fa-phone m-2"></i>
	<p class="m-1"> +4369919041407 </p>
</div>

<br>
<br>
<p class="center-txt">
	<strong>
		all transactions are completed face-to-face
	</strong>
</p>

</body>
</html>