
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BOYZCLUB</title>
</head>
<body>

<br>
<br>
<br>
<br>
<br>

<div class=" d-flex justify-content-center">
    <%= link_to "ENTER", watch_index_path, class: "cool-btn" %>
  </div>
</div>

</body>
</html>

