<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<br>
	<br>
	<hr style="margin-top:50px;">
	<section class="d-flex justify-content-around">
		<%= link_to 'CONTACT', contact_path, class: 'header-btn' %>

	</section>

</body>
</html>