<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<br>
	<div class="d-flex-around" >
		<span class="mt-1">
			<%= link_to "HOME", watch_index_path, class: 'title-txt' %>
		</span>

		<span>
			<h1 class="center-txt">PRIVATE WATCHES</h1>
		</span>
		
		<span class="mt-1">
			<%= link_to "ABOUT US", watch_index_path, class: 'title-txt' %>
		</span>
	</div>
	
	<hr>

</body>
</html>

